@font-face {
  font-family: "SF Pro";
  src: url("fonts/SFProDisplay-Light.eot");
  src: url("fonts/SFProDisplay-Light.eot") format("embedded-opentype"),
    url("fonts/SFProDisplay-Light.woff2") format("woff2"),
    url("fonts/SFProDisplay-Light.woff") format("woff"),
    url("fonts/SFProDisplay-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro";
  src: url("fonts/SFProDisplay-Medium.eot");
  src: url("fonts/SFProDisplay-Medium.eot") format("embedded-opentype"),
    url("fonts/SFProDisplay-Medium.woff2") format("woff2"),
    url("fonts/SFProDisplay-Medium.woff") format("woff"),
    url("fonts/SFProDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

:root {
  --iphone-bg: #000;
  --button-bg-light: #8f8f94;
  --button-bg-dark: #3a3a3c;
  --button-bg-animated: #f2f2f7;
  --button-accent: #ff9f03;
  --button-white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
}

.main-container {
  background-color: var(--iphone-bg);
  aspect-ratio: 0.4613734;
  border-radius: 7%;
  flex-direction: column;
  z-index: 1;
}

.time {
  margin-right: auto;
  font-weight: 500;
}

.output {
  margin-top: auto;
  text-align: end;
}

.button-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

button {
  border: none;
  aspect-ratio: 1;
}

.button-0 {
  border-radius: 10vw;
  grid-column: 1 / 3;
}

.button-0-first,
.button-0-second {
  flex: 1;
  pointer-events: none;
}

.foreground-white {
  color: var(--button-white);
}

.font-sanFrancisco {
  font-family: "SF Pro", sans-serif;
}

.bg-light {
  background-color: var(--button-bg-light);
}

.bg-dark {
  background-color: var(--button-bg-dark);
}

.bg-accent {
  background-color: var(--button-accent);
}

.tap {
  animation: tap 0.5s ease-in-out;
}

.select {
  animation: select 0.25s ease-in-out forwards;
}

.unselect {
  animation: unselect 0.25s ease-in-out forwards;
}

body,
.main-container,
.status-bar,
.right-area-container,
.button-0,
.button-0-first,
.home-bar {
  display: flex;
}

body,
.button-0-first,
.home-bar {
  justify-content: center;
}

body,
.button-0-first {
  align-items: center;
}

.bezel,
.main-container {
  position: fixed;
}

button,
.output,
.text-0 {
  font-weight: 300;
}

button,
.button-0-first,
.button-0-second {
  border-radius: 50%;
}

button,
.button-0 {
  cursor: pointer;
}

@media (min-aspect-ratio: 0.504) {
  .bezel {
    height: 100%;
  }

  .main-container {
    height: 92.3%;
    padding: 0 1.5vh;
  }

  .status-bar {
    padding: 1.98vh 1.98vh 1.98vh 4.5vh;
  }

  .cellular-bars {
    width: 2.3vh;
  }

  .wifi {
    width: 2vh;
  }

  .battery {
    width: 3.1vh;
  }

  .time {
    font-size: 1.7vh;
    letter-spacing: 0.08vh;
  }

  .right-area-container {
    gap: 0.73vh;
  }

  .output {
    font-size: 9.05vh;
    letter-spacing: -0.15vh;
    padding-bottom: 1.07vh;
    padding-right: 1.95vh;
  }

  .button-container,
  .button-0 {
    gap: 1.5vh;
  }

  .home-bar {
    padding: 5.8vh 0 0.8vh;
  }

  .home-bar-button {
    width: 38.6%;
  }

  .font-size-normal {
    font-size: 3.8vh;
  }

  .font-size-increased {
    font-size: 4.55vh;
  }
}

@media (max-aspect-ratio: 0.504) {
  .bezel {
    width: 100%;
  }

  .main-container {
    width: 84.56%;
    padding: 0 3vw;
  }

  .status-bar {
    padding: 4vw 4vw 4vw 9vw;
  }

  .cellular-bars {
    width: 4.55vw;
  }

  .wifi {
    width: 4vw;
  }

  .battery {
    width: 6.2vw;
  }

  .time {
    font-size: 3.4vw;
    letter-spacing: 0.15vw;
  }

  .right-area-container {
    gap: 1.4vw;
  }

  .output {
    font-size: 18vw;
    letter-spacing: -0.3vw;
    padding-bottom: 2.1vw;
    padding-right: 3.8vw;
  }

  .button-container,
  .button-0 {
    gap: 3vw;
  }

  .home-bar {
    padding: 11.5vw 0 1.75vw;
  }

  .home-bar-button {
    width: 38.5%;
  }

  .font-size-normal {
    font-size: 7.5vw;
  }

  .font-size-increased {
    font-size: 9vw;
  }
}

@keyframes tap {
  50% {
    background-color: var(--button-bg-animated);
  }
}

@keyframes select {
  100% {
    background-color: var(--button-bg-animated);
    color: var(--button-accent);
  }
}

@keyframes unselect {
  0% {
    background-color: var(--button-bg-animated);
    color: var(--button-accent);
  }

  100% {
    background-color: var(--button-accent);
    color: var(--button-white);
  }
}
